#abouttyler {
    margin: 2em 0 1em .5em;
    color: #4b6655;
}

.abouttext {
    padding: 0 2em 0 6em;
}

#tylerpic {
    border-radius: 50%;
    margin: 0 0 1em 6em;
}

#emailadd {
    width: 400px;
}

#emailmess {
    width: 500px;
}

.toppee {
    margin-top: 3em;
}