.navbar-inner{
  position:relative;
  padding-left:70px;
  margin-top: 1em;
}

.navbar-brand {
  position: absolute;
  left: 0px;
  top: -55px;
  width: 50px;
  margin-left: 0px;
  padding: 10px;
}

.navimg {
  padding-top: .5em;
}
