body {
  width: 100%;
  height: 100%;
  margin-top: 1em;
  background: #D6F8DE !important ;
  text-align: center;
}

.centerhome {
  margin-left: auto;
  margin-right: auto;
}

p {
  color:	#4B6655 ;
  text-align: center;
  font-family: 'ampu';
  font-size: 1.5em;
  margin-bottom: 10em;
}

@font-face {
  font-family: 'ampu';
src: url('/assets/Ambar Pearl Personal Use.ttf');
}

